# Frontend REST API Base URL
# Production Render URL: https://ronika-backend-e8h6.onrender.com/api
# Local Backend URL: http://localhost:5000/api
VITE_API_BASE_URL=https://ronika-backend-e8h6.onrender.com/api
